<div class="nav-wrapper">
<!-- ROZBALOVACI TLACITKO -->
  <div class="dropdown">
    <button class="nav-btn" onclick="toggleMenu()">Úvod ▾</button>
    <div class="dropdown-content" id="myDropdown">
      <a href="{{ site.baseurl }}/">Domů</a>
      <a href="{{ site.baseurl }}/stranky/relax-selfcare.html">Relax selfcare</a>
      <a href="{{ site.baseurl }}/stranky/hobbies.html">Hobbies</a>
      <a href="{{ site.baseurl }}/stranky/children-caring.html">Children caring</a>
      <a href="{{ site.baseurl }}/stranky/cleaning.html">Cleaning</a>
      <a href="{{ site.baseurl }}/stranky/baking.html">Baking</a>
      <a href="{{ site.baseurl }}/stranky/cooking.html">Cooking</a>
    </div>
  </div>

<!-- TLACITKA -->
  <a href="{{ site.baseurl }}/stranky/painting.html" class="nav-btn">Painting</a>
  <a href="{{ site.baseurl }}/stranky/hand-made.html" class="nav-btn">Hand made</a>
  <a href="{{ site.baseurl }}/stranky/writing-poetry.html" class="nav-btn">Writing/Poetry</a>
  <a href="{{ site.baseurl }}/stranky/happiness.html" class="nav-btn">Happiness</a>
  <a href="{{ site.baseurl }}/stranky/contact.html" class="nav-btn">Contact</a>
</div>

<script src="{{ site.baseurl }}/assets/js/dropdown.js"></script>
