---
<div class="side-menu-trigger" id="sideMenuTrigger">
  <div class="hamburger-icon" onclick="toggleSideMenu()">☰</div>
  <div class="side-menu" id="sideMenu">
    <a href="{{ site.baseurl }}/">Domů</a>
    <a href="{{ site.baseurl }}/stranky/baking.html">Baking</a>
    <a href="{{ site.baseurl }}/stranky/children-caring.html">Children caring</a>
    <a href="{{ site.baseurl }}/stranky/cleaning.html">Cleaning</a>
    <a href="{{ site.baseurl }}/stranky/cooking.html">Cooking</a>
    <a href="{{ site.baseurl }}/stranky/dancing.html">Dancing</a>
    <a href="{{ site.baseurl }}/stranky/dream-comes-true.html">Dream comes true</a>
    <a href="{{ site.baseurl }}/stranky/everyday-earthday.html">Everyday earthday</a>
    <a href="{{ site.baseurl }}/stranky/family-hug-times.html">Family hug times</a>
    <a href="{{ site.baseurl }}/stranky/hand-made.html">Hand made</a>
    <a href="{{ site.baseurl }}/stranky/happiness.html">Happines</a>
    <a href="{{ site.baseurl }}/stranky/hobbies.html">Hobbies</a>
    <a href="{{ site.baseurl }}/stranky/intuitive-beautyself.html">Intuitive beautyself</a>
    <a href="{{ site.baseurl }}/stranky/painting.html">Painting</a>
    <a href="{{ site.baseurl }}/stranky/relax-selfcare.html">Relax selfcare</a>
    <a href="{{ site.baseurl }}/stranky/season.html">Season</a>
    <a href="{{ site.baseurl }}/stranky/singing.html">Singing</a>
    <a href="{{ site.baseurl }}/stranky/summer-days.html">Summer days</a>
    <a href="{{ site.baseurl }}/stranky/writing-poetry.html">Writing poetry</a>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/js/sidemenu.js"></script>
